.img-dev{
    display: block;
    max-width: 100%;
    height: auto;
}

.dev-steps-icon{
    bottom: 0;
    right: 4px;
    position: absolute;
    z-index: 5;
}

.dev-steps-body-wrapper{
    height: 200px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 20px 20px 40px rgb(5 12 51 / 5%);
}

.dev-text{
    position: relative;
    z-index: 10;
    font-weight: 500;
    font-size: 16px;
    color: #4e5a73;
    line-height: 1.37;
}

.dev-steps-wrapper{
    position: relative;
    z-index: 10;
}

.dev-steps-body{
    position: relative;
    z-index: 11;
    padding-bottom: 50px;
}

.number{
    margin-top: 10px;
    font-size: 10px;
    color: black;
}

.expertise-block{
    border-left: solid 3px #f14d34;
    font-weight: 500;
    font-size: 16px;
    color: rgba(256,256,256,.7);
}

.expertise-img{
    position: relative;
    z-index: 10;
}

.expertise-region:before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(254.72deg,rgba(255,255,255,.276) -114.85%,rgba(255,255,255,0) 69.04%),#040613;
    z-index: -1;
    background-size: cover;
}

.img-fluid-ex{
    height: 100%;
    width: 100%;
}

.dev-steps-region{
    position: relative;
    z-index: 20;
    height: 1600px;
}

.expertise-region{
    padding-top: 150px;
    position: relative;
    background: url("img/druplicon.svg") right no-repeat;
}

@media screen and (min-width: 768px) {
    .dev-steps-body-wrapper {
        height: 250px;
    }
    .dev-steps-region{
        height: 1000px;
    }
}

@media screen and (min-width: 992px){
    .dev-steps-body-wrapper {
        height: 250px;
    }
    .dev-steps-region{
        height: 500px;
    }
}