.team{
    max-width: 720px;
}
.teamImage{
  padding: 0 10px;
}
.teamImage div img{
    max-width: 100%;
    height: auto;
}
.teamImage p{
    font-size: smaller;
}
.all-team-but:hover, .all-team-but:active{
    color:initial;
    background-color: initial;
    border-color: initial;
}
@media screen and (min-width: 998px){
.team{
    max-width: 960px;
}
}
@media screen and (min-width: 632px){
.teamImage{
    padding:0 40px;
}
}