.price-block-wrapper{
    transition: all 0.5s ease-in-out; 
}

.price-header{
    color:#f14d34;
    font-weight: bold;
    font-size: 22px;
}

.price-body{
    line-height: 1.2;
    font-size: 16px;
    font-weight: 500;
}

.btn-price{
    transition: all 0.5s ease-in-out;
    margin-top: 10px;
    width: 80%;
    color: #f14d34;
    border-color: #f14d34;
}

.btn-price:hover{
    color:white;
    background: #f14d34;
    border-color: #f14d34;
}

.price-block{
    background: #fff;
    color: black;
    font-weight: 500;
    position: relative;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
    border: solid 2px #e5e5e5;
}
.price-block-wrapper:nth-of-type(2n) .price-block:hover,
.price-block:hover{
    z-index: 15;
    box-shadow: 0 4px 60px rgb(162 162 162 / 25%);
}
.price-row:hover .price-block-wrapper:nth-of-type(2n) .price-block .btn-price{
    background: white;
    color:#f14d34;
}
.price-block-wrapper:nth-of-type(2n) .price-block .btn-price{
    background: #f14d34;
    color:white;
}

.price-row:hover .price-block-wrapper:nth-of-type(2n) .price-block:hover .btn-price,
.price-block:hover .btn-price{
    background: #f14d34;
    color:white;
}

.price-text p{
    margin-bottom: 5px;
}

.price-wrapper:before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url("img/D-background-opacity.svg") no-repeat right top #fff;
    background-size: 200%;
    z-index: -1;
}

.price-wrapper{
    padding-bottom: 50px;
    position: relative;
}

.price-text{
    margin-top: 10px;
    position: relative;
    z-index: 11;
}

.price-footer{
    border-top: 2px solid #e5e5e5;
}

.price-body{
    border-top: 2px solid #e5e5e5;
}
.tariff-link-block{
    color:grey;
}
.tariffs-link{
    text-decoration: underline;
    color:inherit
}
.tariffs-link:hover{
    color:red;
    text-decoration: none;
}
@media screen and (min-width: 768px){
    .price-block-wrapper:nth-of-type(2n) .price-block:hover,
    .price-block:hover{
        transform: scale(1.1);
    }

    .price-wrapper:before{
        background-size: 75%;
    }
}

@media screen and (min-width: 1000px){

    .price-wrapper:before{
        background-size: 30%;
    }
}
